<?xml version='1.0' encoding='utf-8'?>
<widget id="com.autentia.ubichallenge" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ubichallenge-android</name>
    <description>
        App para Ubichallenge 2014
    </description>
    <author email="juheros@gmail.com" href="http://github.com/juheros">
        Juheros
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
